streamlit
supabase<2.25
openai
anthropic
groq
mistralai
google-generativeai
google-genai
pinecone-client
requests
python-dotenv
moviepy
whisper
faster-whisper
torch
pydub
SpeechRecognition
assemblyai
pytube
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
cloudinary
pandas
